@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

section + section {
  margin-top: 32px;
}

section div {
  align-items: center;
  border: 1px solid;
  display: flex;
  flex: 1 1 200px;
  height: 200px;
  justify-content: center;
  margin: 16px;
}

h1 {
  font-size: 32px;
}